@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body{font-family: 'Titillium Web', sans-serif;}
*{outline: 1px solid blue;}

.fondo-direccion{ background: #eee; padding: 10px 0 40px;}
.fondo-formulario{
   background: #858d98;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858d98', endColorstr='#4a525d',GradientType=1 );
  background: -moz-radial-gradient(top, ellipse cover,  #858d98 1%, #4a525d 99%);
  background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(1%,#858d98), color-stop(99%,#4a525d));
  background: -webkit-radial-gradient(top, ellipse cover,  #858d98 1%,#4a525d 99%);
  background: -o-radial-gradient(top, ellipse cover,  #858d98 1%,#4a525d 99%);
  background: -ms-radial-gradient(top, ellipse cover,  #858d98 1%,#4a525d 99%);
  background: radial-gradient(ellipse at top,  #858d98 1%,#4a525d 99%);
  padding: 20px 0px;
}
.formulario input, .formulario textarea, .formulario select{
  width: 100%;
  padding: 7px 5px;
  font-size:14px;
  font-weight:300;
  color:#000;
  background-color: rgba(5,5,5,.3);
  border: 1px solid transparent;
  margin-bottom:15px; position: relative;
}
.formulario{color: #fff;}
.formulario h2 {color: rgb(197,36,26); text-transform: uppercase; margin-bottom: 20px;}
.formulario label {color:#fff; text-transform: uppercase; margin-bottom: 15px;}
/*.formulario hr {border-bottom: 0px solid #eee; margin-top: 15px; margin-bottom: 25px;}*/
.formulario .direccion .mapa iframe {width: 100%;border: 1px solid #ccc;}
.formulario #contact-area select option {background-color:#000; color: #fff; }
.formulario textarea{border: 1px solid transparent; }
.formulario .direccion .lugar {padding: 60px 40px 63px; background-color: #fff; height: 300px;}
.formulario .direccion .lugar .fa{color: rgb(197,36,26);font-size: 22px; width: 28px;}
.formulario .direccion .lugar p{color: #505050;font-size: 16px;}
.formulario .direccion .lugar p a{color: #505050;}
input.submit-button {
  font-size:12px;
  font-weight:300;
  text-transform:uppercase;
  width: 100px;
  margin: 5px 40%;
  color: #fff;
  border: 1px solid #eee;
  
  -moz-transition:all 0.1s ease-in-out;
  -webkit-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
}
input.submit-button:hover {color:#fff; background-color:#333; border: 1px solid #ccc;}

::-webkit-input-placeholder {color: #fff; font-size:14px;}
:-moz-placeholder { color: #fff; font-size:14px;}
::-moz-placeholder { color: #fff; font-size:14px;}
:-ms-input-placeholder { color: #fff; font-size:14px;}
 
.formulario textarea:focus, .formulario input:focus, .formulario textarea:focus {
  background-color:#333;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  color: #fff;
}
.formulario label{font-weight: 500; width: 30%;}
.formulario select{width: 69.4%; font-weight: lighter; color: #fff;}

/*----------PREGUNTAS----------------*/
.desktop-faq-container {margin: 20px auto;}
/*.tabs{margin: 15px auto 50px;}*/
.tabs label {text-align: center;color: #858d98;}
.content{ background: #858d98;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858d98', endColorstr='#4a525d',GradientType=1 );
  background: -moz-radial-gradient(top, ellipse cover,  #858d98 1%, #4a525d 99%);
  background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(1%,#858d98), color-stop(99%,#4a525d));
  background: -webkit-radial-gradient(top, ellipse cover,  #858d98 1%,#4a525d 99%);
  background: -o-radial-gradient(top, ellipse cover,  #858d98 1%,#4a525d 99%);
  background: -ms-radial-gradient(top, ellipse cover,  #858d98 1%,#4a525d 99%);
  background: radial-gradient(ellipse at top,  #858d98 1%,#4a525d 99%);
}
input[name="tabs"] { display: none;}
input[name="tabs"]#tab-1:checked ~ .content .tab:nth-of-type(1) { display: inline-block;}
input[name="tabs"]#tab-1:checked ~ .tabs label:nth-child(1) {color: #242b36;}
input[name="tabs"]#tab-1:checked ~ .tabs label:nth-child(1) .element {border: 1px solid #66dab7;}
input[name="tabs"]#tab-1:checked ~ .tabs label:nth-child(1):after {width: calc(100% - 40px); transition: .3s;}
input[name="tabs"]#tab-2:checked ~ .content .tab:nth-of-type(2) {display: inline-block;}
input[name="tabs"]#tab-2:checked ~ .tabs label:nth-child(2) {color: #242b36;}
input[name="tabs"]#tab-2:checked ~ .tabs label:nth-child(2) .element {border: 1px solid #66dab7;}
input[name="tabs"]#tab-2:checked ~ .tabs label:nth-child(2):after {width: calc(100% - 40px); transition: .3s;}
input[name="tabs"]#tab-3:checked ~ .content .tab:nth-of-type(3) {display: inline-block;}
input[name="tabs"]#tab-3:checked ~ .tabs label:nth-child(3) {color: #242b36;}
input[name="tabs"]#tab-3:checked ~ .tabs label:nth-child(3) .element {border: 1px solid #66dab7;}
input[name="tabs"]#tab-3:checked ~ .tabs label:nth-child(3):after {width: calc(100% - 40px); transition: .3s;}
input[name="tabs"]#tab-4:checked ~ .content .tab:nth-of-type(4) {display: inline-block;}
input[name="tabs"]#tab-4:checked ~ .tabs label:nth-child(4) {color: #242b36;}
input[name="tabs"]#tab-4:checked ~ .tabs label:nth-child(4) .element {border: 1px solid #66dab7;}
input[name="tabs"]#tab-4:checked ~ .tabs label:nth-child(4):after {width: calc(100% - 40px); transition: .3s;}
input[name="tabs"]#tab-5:checked ~ .content .tab:nth-of-type(5) {display: inline-block;}
input[name="tabs"]#tab-5:checked ~ .tabs label:nth-child(5) {color: #242b36;}
input[name="tabs"]#tab-5:checked ~ .tabs label:nth-child(5) .element {border: 1px solid #66dab7;}
input[name="tabs"]#tab-5:checked ~ .tabs label:nth-child(5):after {width: calc(100% - 40px); transition: .3s;}
input[name="tabs"]#tab-6:checked ~ .content .tab:nth-of-type(6) {display: inline-block;}
input[name="tabs"]#tab-6:checked ~ .tabs label:nth-child(6) {color: #242b36;}
input[name="tabs"]#tab-6:checked ~ .tabs label:nth-child(6) .element {border: 1px solid #66dab7;}
input[name="tabs"]#tab-6:checked ~ .tabs label:nth-child(6):after {width: calc(100% - 40px); transition: .3s;}

.tabs {-webkit-overflow-scrolling: touch; position: static;}
.tabs label {
  display: inline-block;
  padding-top: 15px; padding-bottom: 15px; margin-bottom: 0px;
  position: static;
  color: black;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.tabs label {text-align: center;}
.desktop-faq-container .tab {display: none; background:#fff; padding: 0 15px; width: 100%;}
.element {background-color: #fbfbfb; min-height: 160px;}
.element .circle {
  background-color: white;
  margin: auto;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  border-radius: 90px;
}
.element h3 {
  display: block;
  margin: auto;
  min-height: 60px;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #858d98;
  display: block;
  text-transform: uppercase;
}
.element:hover {-webkit-box-shadow: 0px 5px 19px 3px rgba(61, 61, 61, 0.1); 
  -moz-box-shadow: 0px 5px 19px 3px rgba(61, 61, 61, 0.1);
  box-shadow: 0px 5px 19px 3px rgba(0,0,0,.4);
}
.element img { margin-top: 20px; height: 50px; }
summary {outline:none; background: #eee;}
sumary::-webkit-details-marker {display: none}
details summary {background-color: #eee; padding: 5px; margin-top: 20px;}
details[open] summary {background: ; color: ;}
.content summary {font-size: 16px; line-height: 27px; text-decoration: none; margin-bottom: 10px; cursor: pointer; color:rgb(50,57,70);}
.content p {font-size: 14px;}


@media (max-width:764px) and (min-width:319px){
    .desktop-faq-container{
        display: none;
    }
    .formulario label{
        width: 45%;
    }
    
}
@media (max-width: 767px){
  .formulario .direccion .lugar{margin-top: 10px;}
}
@media (max-width: 345px){
  .formulario .direccion .lugar{padding: 40px 20px;}
}
