/*-------------------INICIO----------------------*/
@media (max-width:764px) and (min-width:319px){
    /*--------estilos globales ------------*/
    .img-responsive{
        width: 33%;
    }
    .navbar-inverse .navbar-toggle{
        color: #fff;
        border: 1px solid #fff;
    }
    .nav .dropdown{
        padding: 0px;
    }
    .dropdown-menu, mega-dropdown-menu{
        background: #fff;  
        color: #c5241a;
        padding: 0px;
    }
    .dropdown-menu .col-sm-3{
        border:none;
    }
    .mega-dropdown-menu > li > ul > br{
        display:none;
    }
    
    .mega-dropdown-menu > li > ul > li > a{
        color:#fff;
    }
    .nav .dropdown:hover{
        background: none;
    }
    .dropdown-menu .mega-dropdown-menu{
        display: none !important;
    }
    .mega-dropdown-menu .dropdown-header{
        color: #fff;
    }
    /*---------------------------------REDES-------------------------------------------*/
    .lista{
        display: none;
    }
    .redes section a{
        display: none;
    }
    /*---------------------------------------------PORTADA---------------------------*/
    .portada .box-in{
        padding-top: 40px;
    }
}
/*-------------------QUIENES SOMOS----------------------*/
/*----------------------CARRUSEL---------------------------*/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 3em; }    
}
@media screen and (max-width: 320){
    .quienesSomos {
        height: 135;
    }
}
/*----------------------------------------------RESPONSIVE--------------------------------------------------------*/
@media (max-width:764px) and (min-width:240px){
    .quienesSomos{
        height: 209vh;
    }
    .section-info .text{
        height: auto;
        position: relative;
        top: 65px;
    }
}
/*-------------------------CELULAR--PAD---------------------------------*/
@media (max-width:1024px) and (min-width:768px){
    .quienesSomos{
        height: 126vh;
    }
    .quienesSomos .imagen , .text{
        width: 100%;
    }
    .fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3{
        height: 66vh;
    }
    .carousel-indicators{
        bottom: 127px;
    }
    .hero{
        top: 37%;
    }
    .section-info .text{
        top: -17px;
    }
    .footer2 .container{
        padding: 0px;
    }
}
/*-------------------------CELULAR--PAD--PRO-------------------------------*/
@media (max-width:1366px) and (min-width:1024px){
    .quienesSomos{
        height: 67vh;
    }
    .fade-carousel{
        height: 50vh;
    }
     .fade-carousel .carousel-inner .item{
        height: 67vh;
    }
    .fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3{
        height: 67vh;
    }
    .footer2 .container{
        padding: 0px;
    }
}
/*--------------------------------PRENDAS-------------------------------------------*/
@media (max-width:764px) and (min-width:240px){
    .zoomWindow{display: none !important;}
}

/*-----------------------------TIPOS DE PRENDAS-----------------------------------*/
@media (max-width:764px) and (min-width:319px){
    .modelo-prenda .lista-tallas{
        width: 100%;
    }
}
@media(max-width:1336px) and (min-width:768px){
    .modelo-prenda .lista-tallas{
        width: 60% !important;
    }   
}
